@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url(./components/media.scss);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    text-align: left;
}

.title {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.subtitle {
    font-weight: 900;
    font-size: 24px;
    color:#BDBDBD;
    text-align: left;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-self: flex-end;
  margin-top: 50px;
  &_item {
      width: 60px;
      height: 60px;
      background-color: #005fa334;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      &:hover {
          background-color: #005FA3;
      }
  }
  &_icon {
    font-size: 15px;
    color:#fff;
  }
}



